<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FindPW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/mobileFindPW.css">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--<script type="text/javascript" src="../JS/login.js"></script>-->
</head>
<body>
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>Forgot Password?</h1>
        </div>
        <div class="form-content">
            <form method="post" action="/pwSearchU">
                <div class="form-group"><label for="uid">Username</label><input type="text" id="uid"
                                                                                     name="uid"
                                                                                     required="required"/></div>
                <div class="form-group"><label for="password">Password</label><input type="password" id="password"
                                                                                     name="password"
                                                                                     /></div>
                <div class="form-group">
                    <button type="submit">찾기</button>
                </div>
            </form>
        </div>
    </div>
    <div class="form-panel two">
    </div>
</div>
</body>
<!-- Form-->
</html>
