<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, intial-scale=1, minimum-sacle=1, maximum-scale=1, user-scalable-no">
  <title>QRPage</title>
  <link rel="stylesheet" type="text/css" href="/CSS/adminqrPage.css">
  <script type="text/javascript" src="/JS/timer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<th:block th:replace="~{Header/header :: header}"></th:block>
<div class="form">
  <div class="form-panel one">
    <div class="form-content">
        <div class="top_week">
          <select onchange="selectChange(this.value);">
            <option th:each="num : ${#numbers.sequence(1,16)}" th:value="${num}" th:text="${num + '주차'}">주차</option>
          </select>
        </div>
        <div class="qr">
          <iframe id="QR"></iframe>
          <input id="Timer" type="text" value="" readonly/>
        </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
  /*header 불러오기*/
  $(document).ready(function(){
    $("header").load("../Header/header.html");
  });

    let selectChange = function (value) {
        let week = value;
        document.getElementById("QR").src = "https://192.168.0.21/qr?week="+week;
    }
</script>
</html>

