<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, intial-scale=1, minimum-sacle=1, maximum-scale=1, user-scalable-no">
  <title>이의신청 관리</title>
  <link rel="stylesheet" type="text/css" href="/CSS/manageAtt.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<th:block th:replace="~{Header/header :: header}"></th:block>
<div class="form">
  <div class="form-panel one">
    <div class="form-header">
      <h1>이의신청 관리</h1>
    </div>
    <div class="form-content">
      <form method="post" action="">
        <!-- Table -->
        <div class="scroll">
          <table class="type02">
            <tr th:each=" sugg : ${suggest}">
              <th th:text="이의신청_+ ${sugg.getWeek()} +주차_+ ${sugg.user.getUid()} + ${sugg.user.getName()}"
                  th:onclick="|location.href='@{/viewSuggest(num=${sugg.getNum()})}'|"></th>
              <td th:text="${sugg.getSuggest()}"></td>
            </tr>
          </table>
        </div>
        <!-- Table End -->
      </form>
    </div>
  </div>
</div>
</body>
<script>
  /*header 불러오기*/
  $(document).ready(function(){
    $("header").load("../Header/header.html");
  });
</script>
</html>
