<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>통계</title>
  <link rel="stylesheet" type="text/css" href="../CSS/statisticsPage.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
</head>
<header>
  <div class="head_top">
    <form>
      <div class="head_right">
        <button type="button"><img src="../img/bell.png" alt=""></button>
        <span id="name">이름</span>
        <span> | </span>
        <button type="submit" id="logout">Logout</button>
      </div>
    </form>
  </div>
</header>
<body>
<div class="form">
  <div class="form-panel one">
    <div class="form-header">
      <h1>통계</h1>
    </div>
    <div class="form-content">
      <form method="post" action="">
        <div class="form-group_1">
          <!-- 통계 차트 부분 -->
          <div id="chart">
            <div id="employee_piechart" style="width: 600px; height: 400px;"></div>
          </div>
          <!-- 통게 차트 end -->
        </div>
        <div class="form-group">
          <button type="submit">엑셀로 내보내기</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
  /* google chart api */
  google.load("visualization", "1", {packages: ["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(
      [["statistics", "Rating"], ["출석", 25], ["결석", 56]]
    );
    var options = {
      title: "출석율",
      titleTextStyle: {
        fontsize: 100,
        fontName: 'Arial',
        bold: true,
      }
    };
    var chart = new google.visualization.PieChart(document.getElementById("employee_piechart"));
    chart.draw(data, options);
  }
</script>
</body>
</html>
</html>
