<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserPage</title>
    <link rel="stylesheet" type="text/css" href="CSS/userPage.css">
    <link rel="stylesheet" type="text/css" href="CSS/table.css">
    <!-- Test -->
    <!-- Bootstrap cdn 설정 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Test End-->
</head>
<body>
<div id="headers"></div>
<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1 th:text="${name}"></h1>
        </div>
        <div class="form-content">
            <form method="post" action="/changeAttend">
                <input type="hidden" name="uid" th:value="${id}">
                <input type="hidden" name="week">
                <input type="hidden" name="attend">
                <!-- Table -->
                <div class="scroll">
                    <table class="type02">
                        <tr th:each=" att : ${attend}" onclick="HighLightTR(this)">
                            <th scope="row" th:text="${att.getWeek()} + 주차"></th>
                            <td>
                                <span class="text" th:if="${#strings.isEmpty(att.getAttend())}"></span>
                                <span class="text" th:if="${att.getAttend() == 1}">O</span>
                                <span class="text" th:if="${att.getAttend() == 0}">X</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- Table End -->
                <div class="form-group">
                    <button type="submit">UPDATE</button>
                </div>
            </form>
        </div>
    </div>
    <div class="form-panel two">
        <div class="form-header">
        </div>
        <div class="form-content">
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script>
    let week = "";
    let atte = "";

    let BColor = '#EDF2FF';
    let cColor = '#c9cc99';
    function HighLightTR(target) {
        var tbody = target.parentNode;
        var trs = tbody.getElementsByTagName('tr');
        for ( var i = 0; i < trs.length; i++ ) {
            if ( trs[i] != target ) {
                trs[i].style.backgroundColor = BColor;
            } else {
                trs[i].style.backgroundColor = cColor;
            }
        }
        let weektext = target.children[0].innerHTML;
        week = weektext.slice(0, weektext.length - 2 );
        atte = target.children[1].children[0].innerHTML;
        $('input[name=week]').val(week);
        if (atte == "O"){
            $('input[name=attend]').val(0);
        }else {
            $('input[name=attend]').val(1);
        }
        console.log(week);
        console.log(atte);
    }
</script>
</html>
