<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, intial-scale=1, minimum-sacle=1, maximum-scale=1, user-scalable-no">
  <title>이의신청 관리 보기</title>
  <link rel="stylesheet" type="text/css" href="../CSS/viewSuggest.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<header>
  <div class="head_top">
    <form method="post" action="/logout">
      <div class="head_right">
        <button type="button"><img src="../img/bell.png" alt=""></button>
        <span id="name" th:text="${session.name}">이름</span>
        <span> | </span>
        <button type="submit" id="logout">Logout</button>
      </div>
    </form>
  </div>
</header>
<body>
<div class="form">
  <div class="form-panel one">
    <div class="form-header">
      <h1>이의신청 관리</h1>
    </div>
    <div class="form-content">
      <form method="post" action="">
        <div class="form-group_1">
          <textarea id="username" name="username" required="required" th:text="${suggest.getSuggest}"></textarea>
        </div>
        <!-- 파일 첨부 기능 들어가야 할 곳-->
        <!-- 파일 첨부 못하게 클릭 막았음-->
        <div class="file_box">
          <input type="file" id="input_file" class="file_hidden">
          <label for="input_file" vlaue="disabled" disabled><img src="../img/file.png" alt="파일 찾기"></label>
          <input class="upload_name" th:value="${suggest.getFile()}" readonly/>
        </div>
        <!-- End -->
        <div class="form-group">
          <button type="submit">승인</button>
          <button type="button" style="background-color: red" on>거부</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
  /* 파일명 가져오기 start */
  var fileTarget = $('.file_box .file_hidden');

  fileTarget.on('change', function () {
    if (window.FileReader) {
      // 파일명 추출
      var filename = $(this)[0].files[0].name;
    } else {
      // Old IE 파일명 추출
      var filename = $(this).val().split('/').pop().split('\\').pop();
    }
    ;

    $(this).siblings('.upload_name').val(filename);
  });
  /* 파일명 가져오기 end */
</script>
</html>
