* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #21D6CC;
  font-size: 14px;
  line-height: 1.6em;
  height: 100%;
}

.form {
  position: relative;
  background: #FFFFFF;
  width: 600px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 125px auto 60px;
  overflow: hidden;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px;
}

.form-group:last-child {
  margin: 0;
}

.form-group button {
  outline: none;
  background: #4285F4;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.form-panel {
  padding: 60px calc(0% + 60px) 60px 60px;
  box-sizing: border-box;
}

.form-header {
  margin: 0 0 40px;
}

.form-header h1 {
  padding: 4px 0;
  color: #4285F4;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

/* 테이블 css */

table.type02 {
  border-collapse: separate;
  border-spacing: 0;
  text-align: center;
  line-height: 1.5;
  border: 1px solid white;
  background-color: #EDF2FF;
  border-radius: 15px;
  margin-bottom: 30px;
  overflow: auto;
}

/* table css*/
table {
  display: block;
  width: 100%;
  height: 346px;
}

table.type02 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border: 1px solid white;
  background-color: #EDF2FF;
  color: black;
  text-align: center;
}

table.type02 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border: 1px solid white;
  text-align: center;
}

table.type02 span {
  color: black;
  bottom: -2px;
}

/* 테이블 css end */

/* 검색창 css  */

.head {
  display: flex;
  justify-content: center;
}

.head_btn {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.head_btn input {
  height: 3vh;
  padding: 13px;
  position: relative;
  border-radius: 5px;
  border: none;
  outline: none;
}

.keywords {
  z-index: 1;
  background-color: white;
  display: none;
  position: absolute;
  width: 25%;
  top: 64px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.keywords li:hover,
.keywords .selected {
  cursor: pointer;
  background-color: lightskyblue;
  color: white;
}

.keywords .active {
  background-color: lightskyblue;
  color: white;
}

.keywords ul {
  padding: 0;
  margin: 0;
}

.keywords li {
  list-style: none;
  padding-left: 10px;
}

/* 검색창 css end */

/* 오른쪽 상단 header css*/
.head_top {
  text-align: right;
  display: inline-block;
  width: 100%;
  padding-right: 25px;
}

button {
  position: relative;
  color: white;
  border: none;
  background-color: unset;
  font-size: 15px;
  cursor: pointer;
}

button > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

span {
  position: relative;
  bottom: 4px;
  color: white;
  font-size: 15px;
}

#name {
  position: relative;
  right: 1px;
}

#logout {
  position: relative;
  bottom: 4px;
}

/* 오른쪽 상단 header css end */

/* footer css */

#footer {
  display: block;
  text-align: right;
  margin-right: 30px;
}

/* footer css end */
