* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #21D6CC;
  font-size: 14px;
  line-height: 1.6em;
  height: 100%;
}

.form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  width: 90%;
  /*height: 60vh;*/
  height: 550px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
}

.form-group_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px;
  height: 200px;
}

.form-group:last-child {
  margin: 0;
}

.form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.two .form-group label {
  color: #FFFFFF;
}

#username {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
  color: black;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  resize: none;
}

#file {
  outline: none;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
  color: black;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  transition: 0.3s ease;
}

.form-group input:focus {
  color: rgba(0, 0, 0, 0.8);
}

.two .form-group input {
  color: #FFFFFF;
}

.two .form-group input:focus {
  color: #FFFFFF;
}

.form-group button {
  outline: none;
  background: #4285F4;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.two .form-group button {
  background: #FFFFFF;
  color: #4285F4;
}

.form-group .form-remember {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}

.form-group .form-remember input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0;
}

.form-group .form-recovery {
  color: #4285F4;
  font-size: 12px;
  text-decoration: none;
}

.form-panel {
  padding: 60px calc(0% + 25px) 60px 25px;
  box-sizing: border-box;
}

.form-top {
  position: absolute;
  background: #397DED;
  width: 100%;
  height: 50px;
  top: 0%;
  right: 0%;
  border: none;
  border-radius: 15px 15px 0px 0px;
}

.form-header {
  margin: 35px 0 20px;
}

.form-header h1 {
  padding: 4px 0;
  color: #4285F4;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

/* 첨부파일 css */

.file_box{
  position:relative;
  margin-top:30px;
  margin-bottom:30px;
  font-size:0;
  border: none;
  border-radius: 5px;
  background-color: #EDEDED;
}

.file_box input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.file_box label {
  display: inline-block;
  line-height: 0;
  margin-left: 5px;
  margin-right: 5px;
  color: #999;
  vertical-align: middle;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #0fb5bf;
  text-align:center;
  box-sizing:border-box;
  background:#fff;
}

/* 파일 이름 */
.file_box .upload_name {
  display: inline-block;
  text-align: center;
  width: calc(100% - 42px);
  height:40px;
  line-height:40px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  color: #a8a8a8;
  background-color: #EDEDED;
  border: none;
}

#file {
  outline: none;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
  color: black;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  transition: 0.3s ease;
}

.file_box img {
  background-color: #EDEDED;
}
/* 첨부파일 css end */

/* header css */
.head_btn {
  display: inline-block;
  background-color: #397DED;
  width: 130px;
  height: 10%;
  color: white;
  padding: 8px;
  float: right;
  border-radius: 0px 0px 0px 15px;
  text-align: center;
}

.head_btn button {
  color: white;
  background-color: #397DED;
  border: none;
}
/* header css end*/
