<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, intial-scale=1, minimum-sacle=1, maximum-scale=1, user-scalable-no">
  <title>모바일 이의 신청</title>
  <link rel="stylesheet" type="text/css" href="../CSS/mobilesuggest.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<header>
  <div id="head">
    <form method="post" action="/logoutU">
      <div class="head_btn">
        <span id="name" th:text="${session.name}"></span>
        <span> | </span>
        <button type="submit">Logout</button>
      </div>
    </form>
  </div>
</header>
<body>
<div class="form">
  <div class="form-panel one">
    <div class="form-top">
    </div>
    <div class="form-header">
      <h1>이의 신청</h1>
    </div>
    <div class="form-content">
      <form method="post" action="/suggest" enctype="multipart/form-data">
        <input type="hidden" name="week" th:value="${week}">
        <input type="hidden" name="uid" th:value="${session.uid}">
        <div class="form-group_1">
          <textarea id="suggest" name="suggest" required="required" placeholder="이의신청 내용"></textarea>
        </div>
        <div class="file_box">
          <input type="file" name="file" id="input_file" class="file_hidden" accept="image/*">
          <label for="input_file"><img src="/img/file.png" alt="파일 찾기"></label>
          <input class="upload_name" value="파일명.jpg/png" disabled="disabled"/>
        </div>
        <!--<input type="file" id="file" name="file" required="required"/>-->
        <div class="form-group">
          <button type="submit">신청하기</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
