<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, intial-scale=1, minimum-sacle=1, maximum-scale=1, user-scalable-no">
  <title>모바일 비밀번호 찾기</title>
  <link rel="stylesheet" type="text/css" href="../CSS/mobileFindPW.css">
  <script type="text/javascript" src="/JS/login.js"></script>
</head>
<body>
<div class="form">
  <div class="form-panel one">
    <div class="form-header">
      <h1>비밀번호 찾기</h1>
    </div>
    <div class="form-content">
      <form action="/pwSearchU" method="post">
        <div class="form-group">
          <label for="uid">학 번</label>
          <input type="text" id="uid" name="uid" required="required"/>
        </div>
        <div class="form-group">
          <label for="password">생년월일</label>
          <input type="password" id="password" name="password" required="required"/>
        </div>
        <div class="form-group">
          <button type="submit">찾기</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
