<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/mobileLogin.css">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--<script type="text/javascript" src="../JS/login.js"></script>-->
</head>
<body>
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>Account Login</h1>
        </div>
        <div class="form-content">
            <form action="/loginCheck">
                <div class="form-group"><label for="uid">Username</label><input type="text" id="uid"
                                                                                     name="uid"
                                                                                     required="required"/></div>
                <div class="form-group"><label for="pw">Password</label><input type="password" id="pw"
                                                                                     name="pw"
                                                                                     required="required"/></div>
                <div class="form-group"><label class="form-remember"><input type="checkbox"/>다음에도 기억하기</label><a
                        class="form-recovery" href="/mobilePW">비밀번호 찾기</a></div>
                <div class="form-group">
                    <button type="submit">로그인</button>
                </div>
            </form>
        </div>
    </div>
    <div class="form-panel two">
       <!-- <div class="form-header">
            <h1>Register Account</h1>
        </div>
        <div class="form-content">
            <form>
                <div class="form-group"><label for="username">Username</label><input type="text" id="username"
                                                                                     name="username"
                                                                                     required="required"/></div>
                <div class="form-group"><label for="password">Password</label><input type="password" id="password"
                                                                                     name="password"
                                                                                     required="required"/></div>
                <div class="form-group"><label for="cpassword">Confirm Password</label><input type="password"
                                                                                              id="cpassword"
                                                                                              name="cpassword"
                                                                                              required="required"/>
                </div>
                <div class="form-group"><label for="email">Email Address</label><input type="email" id="email"
                                                                                       name="email"
                                                                                       required="required"/></div>
                <div class="form-group">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>-->
    </div>
</div>
</body>
<!-- Form-->
</html>
